#edit_or_delete{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}
#comments{
    display: flex;
    flex-direction: column;
}

#post_detail_main{
    margin: 0 auto;
    width: 50%;
}