{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}


{% block content %}
<div id="post_detail_main">
    <h1>{{ post.title }}</h1>
    <p>Рейтинг {{fb_avg}}</p>
    <p>{{ post.text}}</p>
    <p>{{ post.created_date }} - {{ post.author }}</p>
    {% if post.published %}
    <p>Опублікований</p>
    {% else %}
    <p>Не Опублікований</p>
    {% endif %}
    <p>Категорія - <a href="{% url 'posts_by_category' category_id=post.category.id %}">{{post.category.title}}</a></p>
    <hr>
    <div id="edit_or_delete">
        {% if not post.published %}
        <a href="{% url 'post_to_publish' post_id=post.pk %}">Опублікувати</a>
        {% endif %}
        <a href="{% url 'post_edit' post_id=post.pk %}">Редагувати</a>
        <a href="{% url 'post_feedback' post_id=post.pk %}">Відгуки</a>
        <a href="{% url 'post_delete' post_id=post.pk %}">Видалити</a>
    </div>

    <h4>Коментарі ({{count_comments}})</h4>
    <div id="comments">
    {% if not comments %}
        <p>нема комантарів</p>
    {% endif %}

    <div>
        <h3>Додайте коментар</h3>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
        </form>
    </div>
        {% for comment in comments %}
        <div>
            <p>{{comment.text}} - {{comment.author}}</p>
            <p>{{comment.publish_date|date:"d.m.y g:m"}}</p>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
